<a href="https://colab.research.google.com/github/Oris-DevOps/AI_ML-MovieLens-Data-Analysis/blob/main/MovieLens_Project_Question_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Project - MovieLens Data Analysis`

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. The data is widely used for collaborative filtering and other filtering solutions. However, we will be using this data to act as a means to demonstrate our skill in using Python to “play” with data.

### `Objective:`
- To implement the techniques learnt as a part of the course.

### `Datasets Information:`

*rating.csv:* It contains information on ratings given by the users to a particular movie.
- user id: id assigned to every user
- movie id: id assigned to every movie
- rating: rating given by the user
- timestamp: Time recorded when the user gave a rating

*movie.csv:* File contains information related to the movies and their genre.
- movie id: id assigned to every movie
- movie title: Title of the movie
- release date: Date of release of the movie
- Action: Genre containing binary values (1 - for action 0 - not action)
- Adventure: Genre containing binary values (1 - for adventure 0 - not adventure)
- Animation: Genre containing binary values (1 - for animation 0 - not animation)
- Children’s: Genre containing binary values (1 - for children's 0 - not children's)
- Comedy: Genre containing binary values (1 - for comedy 0 - not comedy)
- Crime: Genre containing binary values (1 - for crime 0 - not crime)
- Documentary: Genre containing binary values (1 - for documentary 0 - not documentary)
- Drama: Genre containing binary values (1 - for drama 0 - not drama)
- Fantasy: Genre containing binary values (1 - for fantasy 0 - not fantasy)
- Film-Noir: Genre containing binary values (1 - for film-noir 0 - not film-noir)
- Horror: Genre containing binary values (1 - for horror 0 - not horror)
- Musical: Genre containing binary values (1 - for musical 0 - not musical)
- Mystery: Genre containing binary values (1 - for mystery 0 - not mystery)
- Romance: Genre containing binary values (1 - for romance 0 - not romance)
- Sci-Fi: Genre containing binary values (1 - for sci-fi 0 - not sci-fi)
- Thriller: Genre containing binary values (1 - for thriller 0 - not thriller)
- War: Genre containing binary values (1 - for war 0 - not war)
- Western: Genre containing binary values (1 - for western - not western)


*user.csv:* It contains information of the users who have rated the movies.
- user id: id assigned to every user
- age: Age of the user
- gender: Gender of the user
- occupation: Occupation of the user
- zip code: Zip code of the use

**`Please provide your insights wherever necessary.`**

### `Learning Outcomes:`
- Exploratory Data Analysis

- Visualization using Python

- Pandas – groupby, merging 


### `Domain` 
- Internet and Entertainment

**Note that the project will need you to apply the concepts of groupby and merging extensively.**

### 1. Import the necessary packages - 2.5 marks

In [ ]:
#your code here

In [12]:
#import libraries/packages needed
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True) #add nice colorful background to the plots/graphs
import os # enable working with file path/directory

### 2. Read the 3 datasets into dataframes - 2.5 marks

In [15]:
#your code here
pathM ="/content/drive/MyDrive/Colab Notebooks/movie.csv"
pathR="/content/drive/MyDrive/Colab Notebooks/rating.csv"
pathU="/content/drive/MyDrive/Colab Notebooks/user.csv"
ratingDf = pd.read_csv(pathR)   #read/load rating dataset into the ratingdDf dataframe
movieDf = pd.read_csv(pathM)    #read/load movie dataset into the moviedDf dataframe
userDf= pd.read_csv(pathU)      #read/load user dataset into the userdDf dataframe
# movieData= pd.read_csv('movie.csv')
# from google.colab import drive
# drive.mount('/content/drive')
#movieData.head()

### 3. Apply info, shape, describe, and find the number of missing values in the data. Present at least 3 observations from these operations - 2.5 marks
 - Note that you will need to do it for all the three datasets seperately

3.1: **Initial Review of Rating Dataset**

In [51]:
# summary information about ratingDf
ratingDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user id    100000 non-null  int64
 1   movie id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [52]:
# shape of ratingDf
ratingDf.shape

(100000, 4)

In [33]:
# describe function to analyze 5 point summary of ratingDf
ratingDf.describe().T

              count          mean  ...          75%          max
user id    100000.0  4.624848e+02  ...        682.0        943.0
movie id   100000.0  4.255301e+02  ...        631.0       1682.0
rating     100000.0  3.529860e+00  ...          4.0          5.0
timestamp  100000.0  8.835289e+08  ...  888259984.0  893286638.0

[4 rows x 8 columns]

In [46]:
print('Checking for all Null values \n',ratingDf.isnull().sum())
print('\n Checking for all NaN values \n',ratingDf.isna().sum())

Checking for all Null values
 user id      0
movie id     0
rating       0
timestamp    0
dtype: int64

 Checking for all NaN values
 user id      0
movie id     0
rating       0
timestamp    0
dtype: int64

In [47]:
ratingDf.isna()

       user id  movie id  rating  timestamp
0        False     False   False      False
1        False     False   False      False
2        False     False   False      False
3        False     False   False      False
4        False     False   False      False
...        ...       ...     ...        ...
99995    False     False   False      False
99996    False     False   False      False
99997    False     False   False      False
99998    False     False   False      False
99999    False     False   False      False

[100000 rows x 4 columns]

In [36]:
ratingDf['rating'].skew()

-0.510143949217015

3.1.1: **Rating dataset Observations**
*   All the columns are integer data type, including the timestamp data
*   Based on the information summary, the isnull and isna codes there are no null or Nan inputs in the rating dataset
*   Movie ID, rating, user id should all be a categorical data type, but currently loaded into the dataframe as integer
*   There are 100,000 rows/records and 4 columns/fields

3.2: **Initial Review of Movie Dataset**

In [53]:
# summary information about movieDf
movieDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681 entries, 0 to 1680
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie id      1681 non-null   int64
 1   movie title   1681 non-null   object
 2   release date  1681 non-null   object
 3   unknown       1681 non-null   int64
 4   Action        1681 non-null   int64
 5   Adventure     1681 non-null   int64
 6   Animation     1681 non-null   int64
 7   Childrens     1681 non-null   int64
 8   Comedy        1681 non-null   int64
 9   Crime         1681 non-null   int64
 10  Documentary   1681 non-null   int64
 11  Drama         1681 non-null   int64
 12  Fantasy       1681 non-null   int64
 13  Film-Noir     1681 non-null   int64
 14  Horror        1681 non-null   int64
 15  Musical       1681 non-null   int64
 16  Mystery       1681 non-null   int64
 17  Romance       1681 non-null   int64
 18  Sci-Fi        1681 non-null   int64
 19  Thriller      1681 non-null   int64
 20  War           1681 non-null   int64
 21  Western       1681 non-null   int64
dtypes: int64(20), object(2)
memory usage: 289.0+ KB

In [54]:
# shape of movieDf
movieDf.shape

(1681, 22)

In [55]:
# describe function to analyze 5 point summary of movieDf
movieDf.describe().T

              count        mean         std  min    25%    50%     75%     max
movie id     1681.0  841.841761  485.638077  1.0  422.0  842.0  1262.0  1682.0
unknown      1681.0    0.000595    0.024390  0.0    0.0    0.0     0.0     1.0
Action       1681.0    0.149316    0.356506  0.0    0.0    0.0     0.0     1.0
Adventure    1681.0    0.080309    0.271852  0.0    0.0    0.0     0.0     1.0
Animation    1681.0    0.024985    0.156126  0.0    0.0    0.0     0.0     1.0
Childrens    1681.0    0.072576    0.259516  0.0    0.0    0.0     0.0     1.0
Comedy       1681.0    0.300416    0.458576  0.0    0.0    0.0     1.0     1.0
Crime        1681.0    0.064842    0.246321  0.0    0.0    0.0     0.0     1.0
Documentary  1681.0    0.029744    0.169931  0.0    0.0    0.0     0.0     1.0
Drama        1681.0    0.431291    0.495404  0.0    0.0    0.0     1.0     1.0
Fantasy      1681.0    0.013087    0.113683  0.0    0.0    0.0     0.0     1.0
Film-Noir    1681.0    0.014277    0.118667  0.0    0.0    0.0     0.0     1.0
Horror       1681.0    0.054729    0.227519  0.0    0.0    0.0     0.0     1.0
Musical      1681.0    0.033314    0.179507  0.0    0.0    0.0     0.0     1.0
Mystery      1681.0    0.036288    0.187061  0.0    0.0    0.0     0.0     1.0
Romance      1681.0    0.146936    0.354148  0.0    0.0    0.0     0.0     1.0
Sci-Fi       1681.0    0.060083    0.237712  0.0    0.0    0.0     0.0     1.0
Thriller     1681.0    0.149316    0.356506  0.0    0.0    0.0     0.0     1.0
War          1681.0    0.042237    0.201189  0.0    0.0    0.0     0.0     1.0
Western      1681.0    0.016062    0.125751  0.0    0.0    0.0     0.0     1.0

In [57]:
print('Checking for all Null values \n',movieDf.isnull().sum())
print('\n Checking for all NaN values \n',movieDf.isna().sum())

Checking for all Null values
 movie id        0
movie title     0
release date    0
unknown         0
Action          0
Adventure       0
Animation       0
Childrens       0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
dtype: int64

 Checking for all NaN values
 movie id        0
movie title     0
release date    0
unknown         0
Action          0
Adventure       0
Animation       0
Childrens       0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
dtype: int64

**Observations:**

### 4. Find the number of movies per genre using the item data - 2.5 marks

In [ ]:
#your code here

**Insights:**

### 5. Drop the movie where the genre is unknown - 2.5 marks

In [ ]:
#your code here

**Insights:**

### 6. Find the movies that have more than one genre - 5 marks

hint: use sum on the axis = 1

Display movie name, number of genres for the movie in dataframe

and also print(total number of movies which have more than one genres)

In [ ]:
#your code here

**Insights:**

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

*HINT: Use distplot for age and countplot for release year, ratings, *

*HINT: Please refer to the below snippet to understand how to get to release year from release date. You can use str.split() as depicted below or you could convert it to pandas datetime format and extract year (.dt.year)*

In [ ]:
a = 'My*cat*is*brown'
print(a.split('*')[3])

#similarly, the release year needs to be taken out from release date

#also you can simply slice existing string to get the desired data, if we want to take out the colour of the cat

print(a[10:])
print(a[-5:])

brown
brown
brown

In [ ]:
#your code here

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the **percent of number of releases in a year** as a parameter of popularity of a genre

Hint 1: You need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa. (Drop unnecessary column if there are any)

Hint 2: Find the total number of movies release in a year(use item dataset to get count of movies released in a particular year, store that value in a new column as 'total'). Now divide the value of each genre in that year by total to get percentage number of release in a particular year.
`(df.div(df['total'], axis= 0) * 100)`

Once that is achieved, you can either use univariate plots or can use the heatmap to visualise all the changes over the years 
in one go. 

Hint 3: Use groupby on the relevant column and use sum() on the same to find out the number of releases in a year/genre.

In [ ]:
#your code here

**Insights:**

### 9. Find the top 25 movies in terms of average ratings for movies that have been rated more than 100 times - 10 marks

Hints : 

1. Find the count of ratings and average ratings for every movie.
2. Slice the movies which have ratings more than 100.
3. Sort values according to average rating such that movie which highest rating is on top.
4. Select top 25 movies.
5. You will have to use the .merge() function to get the movie titles.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

In [ ]:
#your code here

### 10. Check for the validity of the below statements with respect to the data provided - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

**compare the percentages**

**Please pay attention to what should be the denominator while calculating percentages**

1. Merge all the datasets

2. There is no need to conduct statistical tests around this. Just **compare the percentages** and comment on the validity of the above statements.

3. you might want ot use the .sum(), .div() function here.

4. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.

In [ ]:
#your code here

**Conclusion:**